{% extends "layout.html" %}

{% block link %}
<script type="text/javascript" src="{{ url_for('static', filename='js/neovis.js') }}"></script>
{% endblock link %}

{% block body %}
<body onload="draw()">
  <div style="margin-left: 20%;"
  <div id="viz"></div>
</div>
  
  <!-- Cypher query: <textarea rows="4" cols=50 id="cypher"></textarea><br>
  <input type="submit" value="Submit" id="reload">
  <input type="submit" value="Stabilize" id="stabilize"> -->
  
  
</body>
{% endblock body %}

{% block script %}
{{ super() }}
<script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
<script type="text/javascript">
  // define config car
  // instantiate nodevis object
  // draw

  var viz;

  function draw() {
    var config = {
      container_id: "viz",
      server_url: "bolt://localhost:7687",
      server_user: "neo4j",
      server_password: "deepak1234",
      labels: {
        //"Character": "name",
        "ThingDescription": {
					"caption": "title",
					"thing_id": "thing_id",
					"@type": "@type"
          //"sizeCypher": "MATCH (n) WHERE id(n) = {id} MATCH (n)-[r]-() RETURN sum(r.weight) AS c"
        }
      },
      // relationships: {
      // 	"INTERACTS": {
      // 		"thickness": "weight",
      // 		"caption": false
      // 	}
      // },
      initial_cypher: "MATCH (n)-[rel]->(m) RETURN n,rel,m"
    };

    viz = new NeoVis.default(config);
    viz.render();
    console.log(viz);

  }
  </script>
{% endblock script%}